# For loop by using define function

In [1]:
a = "data Science"

In [3]:
b = "Jupyter notebook"

In [4]:
s = ("python")
def items(variable_name):
    for items in variable_name:
        print( items, end = "\t")

In [5]:
items(s)

p	y	t	h	o	n

In [6]:
items(b)

J	u	p	y	t	e	r	 	n	o	t	e	b	o	o	k

In [5]:
items(a)

d	a	t	a	 	S	c	i	e	n	c	e

In [6]:
def break_word(variable_name):
     for i in variable_name:
        print(i)
        if i=="h" or i=="S":
            break

In [7]:
break_word(s)

p
y
t
h

In [8]:
break_word(a)

d
a
t
a

S

In [9]:
x = [3,6,9,12,15,18,21,24,27,30]

In [10]:
l=[2,4,6,8,10]
def items(variable_name):
    for items in variable_name:
        print(items,end = "\n")

In [11]:
items(l)

2
4
6
8
10

In [12]:
items(x)

3
6
9
12
15
18
21
24
27
30

dictonary

In [7]:
d = {"name":"abc","age":22,"contact":123456}

In [14]:
def keys_in_dic(variable_name):
    for i in variable_name:
        print (i)

In [15]:
keys_in_dic(d)

name
age
contact

In [16]:
d['contact']

123456

In [17]:
def dictonary(variable_name):
    for i in variable_name:
        print(i," ",d[i])

In [18]:
dictonary(d)

name   abc
age   22
contact   123456

In [19]:
def table(start,end):
    for i in range(start,end): #last no-1
         print(i,"\t")

In [20]:
table(1,11)

1
2
3
4
5
6
7
8
9
10

In [21]:
table(1,21)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
def table(start,end,step):
    for i in range(start,end,step):
        print(i)

In [23]:
table(1,11,2)

1
3
5
7
9

In [24]:
table(2,22,2)

2
4
6
8
10
12
14
16
18
20

In [25]:
s = "Python is easy"
def sentence(variable_name):
    for i in range(1) :
        print(i)
        for i in range (len(variable_name)):
            print(i,":",s[i])

In [26]:
sentence(s)

0
0 : P
1 : y
2 : t
3 : h
4 : o
5 : n
6 :
7 : i
8 : s
9 :
10 : e
11 : a
12 : s
13 : y

In [27]:
n = int(input("ENter any no:"))

for i in range(1,11):
    
    print(n,"X",i, "=",n*i)

ENter any no:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [28]:
n = int(input("ENter any no:"))
def mul(n):
    for i in range(1,11):
        print(n,"X",i, "=",n*i)

ENter any no:5

In [29]:
#def mul(n):
n = int(input("ENter any no:"))
for i in range(1,11):
                 print(n,"X",i, "=",n*i)

ENter any no:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [30]:
mul(3)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [31]:
n = int(input("Enter any no:"))
for i in range(1,11):
    print(n*i)

Enter any no:5
5
10
15
20
25
30
35
40
45
50

In [32]:
def mul(n):
      for i in range(1,11):
        print(n*i)

In [33]:
mul(1)

1
2
3
4
5
6
7
8
9
10